{% extends 'base.html' %}

{% block content %}

<h1>Products in Your Cart</h1>
<!-- <ul>
    {% for cart_product in cart_products %}
        <li>
            <img src="{{ cart_product.product.image.url }}" alt="" height="50px", width = "50px">
            <p>Product Name: {{ cart_product.product }}</p> 
            <p>Quantity: {{ cart_product.quantity }}</p> 
            <p>Price: {{ cart_product.product.price }}</p> 
            <form method = "post" action = "{% url 'removefromcart' cart_product.product.id %}" >
              {% csrf_token %}
              <button>Remove from Cart</button>
            </form>
        </li>
    {% empty %}
        <li>No products in your cart.</li>
    {% endfor %}
</ul> -->

<div class="container">
  <div class="row">
    {% for cart_product in cart_products %}
    <div class="col">
        <div class="card product">
          <div class="card-body">
              <div class="row gy-3">
                  <div class="col-sm-auto">
                      <div class="avatar-lg bg-light rounded p-1">
                          <img src="{{ cart_product.product.image.url }}" alt="" class="img-fluid d-block">
                      </div>
                  </div>
                  <div class="col-sm">
                      <h5 class="fs-14 text-truncate"><a href="#" class="text-body">{{ cart_product.product }}</a></h5>

                      <div class="input-step">
                          <button type="button" class="minus">-</button>
                          <input type="number" class="product-quantity" value="1" min="0" max="100">
                          <button type="button" class="plus">+</button>
                      </div>
                  </div>
                  <div class="col-sm-auto">
                      <div class="text-lg-end">
                          <p class="text-muted mb-1">Item Price:</p>
                          <h5 class="fs-14">₹<span class="product-price"> {{ cart_product.product.price }}</span></h5>
                      </div>
                  </div>
              </div>
          </div>
          <!-- card body -->
          <div class="card-footer">
              <div class="row align-items-center gy-3">
                  <div class="col-sm">
                      <div class="d-flex flex-wrap my-n1">
                          <div>
                            <form action="{% url 'removefromcart' cart_product.product.id %}" emthod = 'post'>
                              <button type = 'submit'>Remove</button>
                            </form>
                          </div>
                          <div>
                              <a href="#" class="d-block text-body p-1 px-2"><i class="ri-star-fill text-muted align-bottom me-1"></i> Add
                                  Wishlist</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-auto">
                      <div class="d-flex align-items-center gap-2 text-muted">
                          <div>Total :</div>
                          <h5 class="fs-14 mb-0">₹<span class="product-line-price">{{ cart_product.product.price }}</span>
                          </h5>
                      </div>
                  </div>
              </div>
          </div>
        <!-- end card footer -->
      </div>
    </div>
    {% empty %}
    <li>No products in your cart.</li>
    {% endfor %}
  </div>
</div>

{% endblock content %}