{% extends 'base.html' %}

{% block content %}
<!-- 
<h1>Products in Your Cart</h1>

<div class="container">
  <div class="row">
    {% for cart_product in cart_products %}
    <div class="col">
        <div class="card product">
          <div class="card-body">
              <div class="row gy-3">
                  <div class="col-sm-auto">
                      <div class="avatar-lg bg-light rounded p-1">
                          <img src="{{ cart_product.product.image.url }}" alt="" class="img-fluid d-block">
                      </div>
                  </div>
                  <div class="col-sm">
                      <h5 class="fs-14 text-truncate"><a href="#" class="text-body">{{ cart_product.product }}</a></h5>

                      <form method="POST" action="{% url 'viewcart' %}">
                        {% csrf_token %}
                        <div class="input-step">
                            <button type="submit" class="minus" name="product_id" value="{{ cart_product.product.id }}" name="quantity" value="{{ cart_product.quantity|add:-1 }}">-</button>
                            <input type="number" name="quantity" class="product-quantity" value="{{ cart_product.quantity }}" min="1" max="100">
                            <button type="submit" class="plus" name="product_id" value="{{ cart_product.product.id }}" name="quantity" value="{{ cart_product.quantity|add:1 }}">+</button>
                        </div>
                      </form>
                  </div>
                  <div class="col-sm-auto">
                      <div class="text-lg-end">
                          <p class="text-muted mb-1">Item Price:</p>
                          <h5 class="fs-14">₹<span class="product-price"> {{ cart_product.product.price }}</span></h5>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <div class="row align-items-center gy-3">
                  <div class="col-sm">
                      <div class="d-flex flex-wrap my-n1">
                          <div>
                            <form action="{% url 'removefromcart' cart_product.product.id %}" method="post">
                              {% csrf_token %}
                              <button type="submit">Remove</button>
                            </form>
                          </div>
                          <div>
                              <a href="#" class="d-block text-body p-1 px-2"><i class="ri-star-fill text-muted align-bottom me-1"></i> Add
                                  Wishlist</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-auto">
                      <div class="d-flex align-items-center gap-2 text-muted">
                          <div>Total :</div>
                          <h5 class="fs-14 mb-0">₹<span class="product-line-price">{{ cart_product.product.price }}</span></h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    {% empty %}
    <li>No products in your cart.</li>
    {% endfor %}
    <section>
        <form action='{% url "checkout" %}'>
            <button class="bg-light">
                Checkout
            </button>
        </form>
    </section>
    <section>
        <h3> Total = ₹{{ cart.total }} </h3>
    </section>
  </div>
</div> -->
{% load static %}
<section class="h-100 gradient-custom">

    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <center> {{ message }} </center>
            </div>
        </div>
    {% endfor %}

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5" style="display: flex;">
              <h5 class=" mb-0">Products in your Cart</h5>
              <br>
              {% if cart.total != 0 %}
              <h5 style = "margin-left: 400px;">Total : ₹{{ cart.total }}</h5>
              {% endif %}
            </div>
            <div class="card-body p-4">
              {% for cart_product in cart_products %}
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                    <a href="#">
                        <img src="{{cart_product.product.image.url}}"
                        class="img-fluid" alt="product image">
                    </a>
                    </div>
                    
                    <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">{{cart_product.product.name}}</p>
                    </div>
                    
                    <div class="col-md-2 mt-4">
                        <p class="text-muted mb-0">Quantity</p>
                        <form method="GET" action="{% url 'quantity_counter' cart_product.id %}">
                            <div class="input-step">
                                <button type="submit" name = "status" value = "minus" >-</button>
                                {{cart_product.quantity}}
                                <button type="submit" name = "status" value = "plus" >+</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Price Per Unit : <b>{{cart_product.product.price}}</b></p>
                    </div>

                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Net Amount : <b>{{cart_product.net_amount}}</b></p>
                    </div>
                    <div class="d-flex justify-content-center " style = "margin-left: 370px;">
                        <a href = "{% url 'removefromcart' cart_product.product.id %}"> <img src="{% static 'home/images/delete.png' %}" alt="" height="25px" width="25px"> </a>
                    </div>
                  </div>
                  <!-- <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;"> -->
                </div>
              </div>  
              
              {% empty %}
              <h3>Your Cart is empty</h3>
              {% endfor %} 
              {% if cart_products%}
               <section>
                <form action='{% url "checkout" %}'>
                    <button class="bg-light">
                        Checkout
                    </button>
                </form>
               </section>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock content %}


