{% extends 'base.html' %}

{% block content %}

<section class="h-100 gradient-custom">

    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <center> {{ message }} </center>
            </div>
        </div>
    {% endfor %}
    {% load static %}
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5" style="display: flex;">
              <h5 class=" mb-0">Order History</h5>
              {% if number_of_orders != 0 %}
              <h5 style = "margin-left: 470px;">Number of orders : {{number_of_orders}}</h5>
              {% endif %}
            </div>
            <div class="card-body p-4">
              {% for order in orders %}
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">Order Id : {{order.id}}</p>
                    </div>

                    <div class="col-md-5 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Country : {{order.country}}</p>
                    </div>

                    <div class="col-md-5 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">City : {{order.city}}</p>
                    </div>  

                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Total : <b>{{order.order_total}}</b></p>
                    </div>

                    <div class="col-md-10 text-center d-flex justify-content-center align-items-center" style = "margin-left:350px;">
                        <a href="{% url 'orders' order.id %}" style = "text-decoration: none;"><img src="{% static 'home/images/views.jpg' %}" height="30px" width = "30px" ></a>
                    </div>
                  </div>
                  <!-- <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;"> -->
                </div>
              </div>  
              
              {% empty %}
              <h3>You did not ordered any items yet</h3>

              {% endfor %} 
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}