{% extends 'base.html' %}

{% block content %}
{% load humanize%}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <!-- big product image -->
             <img src="{{product.image.url}}" alt="default" height="500px" width="500">
        </div>
        <div class="col" style="margin-top: 150px;">
             <h1>{{product.name}}</h1>
             <br>
             <h5>{{product.detail_description}}</h5>
             <h5>Price : ₹{{product.price|intcomma}}</h5>
             {% if product.stock >= 1 and product.stock <= 10 %}
             <p style="color:red">only few units left</p>
             {% endif %}

             {% if product.stock != 0 and product.stock > 10 %}
             <p style="color: rgb(15, 7, 254);">in stock</p>
             {% endif %}
                    
             {% if product.stock == 0 %}
             <p style="color:red">out of stock</p>
             {% endif %}
             
             <hr>
             {% if product.stock != 0 %}
             <a href="{% url 'add_to_cart'  product.id%}" class="btn btn-primary">Buy Now</a>
             <a href="{% url 'add_to_cart'  product.id%}" class="btn btn-primary">Add to Cart</a>
             {% endif %}
             <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-primary">Add to Wishlist</a>
        </div>
    </div>
</div>
{% endblock content %}